# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
.env
venv

# Data and Checkpoints
./data/
checkpoints/
*.bin
*.pth

# WandB
wandb/

# IDE
.vscode/
.idea/
.DS_Store

# Misc
temp/
experiments/

# Coverage
.coverage
.coverage.*
htmlcov/
coverage.xml
.pytest_cache/

# Excluded for now
training/
datasets/
datasets_scripts/
models/
